html[data-theme="light"], html[data-theme="dark"] {
  --pst-color-primary: #11557c;
  --pst-color-link: rgb(17, 85, 124);
  --pst-color-link-hover: rgb(0, 60, 99);
}

html[data-theme="light"] {
  --pst-color-text-base: rgb(51, 51, 51);
}

html[data-theme="dark"] {
  --pst-color-primary: #65baeaff;
  --pst-color-text-base: rgb(240, 240, 240);
}

.sidebar-cheatsheets, .sidebar-donate {
  margin: 2.75rem 0;
}
